   <!-- Main Content -->
   <div class="flex-1 p-4 lg:p-8 lg:ml-0 overflow-auto">
     <%- include('searchBar') %>
     <%- include('employeeSectionHeader') %>
     <%- include('employeeTabs') %>
     <%- include('employeeSearchAndFilters') %>
     <%- include('employeeTableSection') %>
   </div>