    <!-- Main Content -->
    <div class="flex-1 p-6 overflow-auto">
      <%- include('recruitmentHeader') %>
      <%- include('recruitmentStatsCard') %>
      <%- include('recruitmentSearchBar') %>
      <%- include('recruitmentTable') %>
      <%- include('recruitmentTablePagination') %>
    </div>